# 0.0 Import Libriaries

In [ ]:
import pandas as pd
import numpy as np

from sklearn import metrics as mt
from sklearn.ensemble import RandomForestClassifier

# 0.1 Loading Datasets

In [2]:
X_train = pd.read_csv("X_training.csv")
y_train = pd.read_csv("y_training.csv")
X_val = pd.read_csv("X_validation.csv")
y_val = pd.read_csv("y_validation.csv")
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [3]:
X_train.head(3)

,id,customer_type,age,class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,...,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,gender_Female,gender_Male,type_of_travel_business_travel,type_of_travel_personal_travel
0,13508,1,0.500000,0.0,0.039580,0.6,0.6,0.6,0.6,1.0,...,0.5,1.0,0.6,0.4,0.0,0.013848,1.0,0.0,1.0,0.0
1,28874,1,0.243590,0.0,0.205775,0.6,0.4,0.4,0.4,0.6,...,0.5,0.5,0.2,0.6,0.0,0.000000,0.0,1.0,1.0,0.0
2,21484,0,0.435897,1.0,0.026858,0.6,0.6,0.6,0.2,1.0,...,0.0,1.0,0.6,1.0,0.0,0.000000,1.0,0.0,1.0,0.0

In [4]:
# data preparation
y_train = y_train.values.ravel()
y_val = y_val.values.ravel()

In [5]:
# removing column "id"
X_train = X_train.drop(["id"], axis=1)
X_val = X_val.drop(["id"], axis=1)
X_test = X_test.drop(["id"], axis=1)

In [6]:
X_train.head(3)

,customer_type,age,class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,...,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,gender_Female,gender_Male,type_of_travel_business_travel,type_of_travel_personal_travel
0,1,0.500000,0.0,0.039580,0.6,0.6,0.6,0.6,1.0,1.0,...,0.5,1.0,0.6,0.4,0.0,0.013848,1.0,0.0,1.0,0.0
1,1,0.243590,0.0,0.205775,0.6,0.4,0.4,0.4,0.6,0.8,...,0.5,0.5,0.2,0.6,0.0,0.000000,0.0,1.0,1.0,0.0
2,0,0.435897,1.0,0.026858,0.6,0.6,0.6,0.2,1.0,0.6,...,0.0,1.0,0.6,1.0,0.0,0.000000,1.0,0.0,1.0,0.0

# 1.0 Random Forest Classifier

## 1.1 Training

In [19]:
md_list = np.arange(2, 25, 2)
acc_list =[]
precision_list = []
recall_list = []
f1_score_list = []

for i in md_list:
    # define
    model = RandomForestClassifier(n_estimators=50, max_depth=i)
    # fit
    model.fit(X_train, y_train)
    # predict
    yhat_train = model.predict(X_train)

    # metrics
    acc = np.round(mt.accuracy_score(y_train, yhat_train), 3)
    acc_list.append(acc)

    precision = np.round(mt.precision_score(y_train, yhat_train), 3)
    precision_list.append(precision)

    recall = np.round(mt.recall_score(y_train, yhat_train), 3)
    recall_list.append(recall)

    f1_score = np.round(mt.f1_score(y_train, yhat_train), 3)
    f1_score_list.append(f1_score)

In [20]:
# Training Dataframe

df_results = {'max_depth': md_list,
              'Accuracy': acc_list,
              'Precision': precision_list,
              'Recall': recall_list,
              'F1-Score': f1_score_list}
df_results = pd.DataFrame(df_results)
df_results

    max_depth  Accuracy  Precision  Recall  F1-Score
0           2     0.885      0.893   0.834     0.862
1           4     0.909      0.914   0.871     0.892
2           6     0.931      0.925   0.916     0.920
3           8     0.938      0.936   0.920     0.928
4          10     0.950      0.949   0.935     0.942
5          12     0.961      0.962   0.947     0.955
6          14     0.973      0.980   0.958     0.969
7          16     0.982      0.989   0.969     0.979
8          18     0.991      0.996   0.982     0.989
9          20     0.995      0.999   0.991     0.995
10         22     0.998      1.000   0.995     0.998
11         24     0.999      1.000   0.998     0.999

In [21]:
# Best max_depth
best_md = acc_list.index(max(acc_list))
best_md

11

In [22]:
df_results.loc[best_md, :]

max_depth    24.000
Accuracy      0.999
Precision     1.000
Recall        0.998
F1-Score      0.999
Name: 11, dtype: float64

## 1.2 Validation

In [23]:
# define
model = RandomForestClassifier(max_depth=best_md)

# fit
model.fit(X_train, y_train)

# predict
yhat_val = model.predict(X_val)

# metrics
acc = np.round(mt.accuracy_score(y_val, yhat_val), 3)
print(f"Accuracy: {acc}")

precision = np.round(mt.precision_score(y_val, yhat_val), 3)
print(f"Precision: {precision}")

recall = np.round(mt.recall_score(y_val, yhat_val), 3)
print(f"Recall: {recall}")

f1_score = np.round(mt.f1_score(y_val, yhat_val), 3)
print(f"F1-Score: {f1_score}")

Accuracy: 0.95
Precision: 0.949
Recall: 0.934
F1-Score: 0.942

## 1.3 Test

In [24]:
# define
model = RandomForestClassifier(max_depth=best_md)

# fit
model.fit(np.concatenate((X_train, X_val)), np.concatenate((y_train, y_val)))

# predict
yhat_test = model.predict(X_test)

# metrics
acc = np.round(mt.accuracy_score(y_test, yhat_test), 3)
print(f"Accuracy: {acc}")

precision = np.round(mt.precision_score(y_test, yhat_test), 3)
print(f"Precision: {precision}")

recall = np.round(mt.recall_score(y_test, yhat_test), 3)
print(f"Recall: {recall}")

f1_score = np.round(mt.f1_score(y_test, yhat_test), 3)
print(f"F1-Score: {f1_score}")

c:\Users\alefa\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

Accuracy: 0.951
Precision: 0.95
Recall: 0.937
F1-Score: 0.943